<div class="section-container max-w-4xl mx-auto p-8">
  <h2 class="section-title">Контакты</h2>

  <div class="space-y-6">
    <!-- Email -->
    <div class="group">
      <a href="mailto:kseniartmay6@gmail.com"
         class="block p-6 rounded-lg bg-contact transform transition-all duration-300 hover:-translate-y-1 hover:shadow-xl">
        <div class="contact-item">
          <div class="icon-container">
            <i class="material-icons">email</i>
          </div>
          <div>
            <h3 class="contact-title">Email</h3>
            <p class="contact-text">kseniartmay6&#64;gmail.com</p>
          </div>
        </div>
      </a>
    </div>

    <!-- Telegram -->
    <div class="group">
      <a href="https://t.me/ksunechkamay"
         target="_blank"
         class="block p-6 rounded-lg bg-contact transform transition-all duration-300 hover:-translate-y-1 hover:shadow-xl">
        <div class="contact-item">
          <div class="icon-container">
            <i class="material-icons">send</i>
          </div>
          <div>
            <h3 class="contact-title">Telegram</h3>
            <p class="contact-text">&#64;ksunechkamay</p>
          </div>
        </div>
      </a>
    </div>

    <!-- Telegram Channel -->
    <div class="group">
      <a href="https://t.me/followmylifeflow"
         target="_blank"
         class="block p-6 rounded-lg bg-contact transform transition-all duration-300 hover:-translate-y-1 hover:shadow-xl">
        <div class="contact-item">
          <div class="icon-container">
            <i class="material-icons">chat_bubble</i>
          </div>
          <div>
            <h3 class="contact-title">Telegram Channel</h3>
            <p class="contact-text">&#64;followmylifeflow</p>
          </div>
        </div>
      </a>
    </div>

    <!-- Pinterest -->
    <div class="group">
      <a href="https://ru.pinterest.com/kseniartmay6/?invite_code=06e29fde8d4b491087b3b223387ab187&sender=856387822800858753"
         target="_blank"
         class="block p-6 rounded-lg bg-contact transform transition-all duration-300 hover:-translate-y-1 hover:shadow-xl">
        <div class="contact-item">
          <div class="icon-container">
            <i class="material-icons">link</i>
          </div>
          <div>
            <h3 class="contact-title">Pinterest</h3>
            <p class="contact-text">&#64;kseniartmay6</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
