<div class="section-container">
  <h2 class="section-title">О себе</h2>

  <ul>
    <li>
      <span class="material-icons">school</span>
      Учусь на втором курсе искусствоведения в СБГХПА имени Штиглица, работаю в музейной среде, веду авторский блог об искусстве.
    </li>

    <li>
      <span class="material-icons">volunteer_activism</span>
      C 2022 года волонтерю в выставочных и образовательных проектах («Н.Н. Живопись и графика из коллекции Музея искусства Санкт-Петербурга XX-XXI веков»,  «Первая позиция. Русский балет», «Перевернутое cафари. Современное искусство Африки», «​​Сопряжение форм. Русская скульптура. XX век», «Пушкинская-10. Ковчег ХХI века» – ЦВЗ Манеж; программа фестиваля «Детские дни»; «Zeitschichten» — НИИ Parazit и другие)
    </li>

    <li>
      <span class="material-icons">tour</span>
      С 2023 года провожу авторские экскурсии и арт-медиации по выставкам (в том числе, детские, семейные, инклюзивные, кураторские туры). Полный список экскурсий по актуальным и завершившимся выставкам – в этом разделе.
    </li>

    <li>
      <span class="material-icons">article</span>
      Веду личный телеграм-канал об искусстве, где анализирую выставки, делюсь мыслями о театральных постановках, учебе на искусствоведа, художественных процессах.
    </li>

    <li>
      <span class="material-icons">museum</span>
      Создаю выставочные проекты, в которых выступаю в роли куратора. Подробнее о кураторских проектах – в этом разделе.
    </li>

    <li>
      <span class="material-icons">work</span>
      В настоящий момент прохожу стажировку на должность персонального арт-менеджера для художников.
    </li>

    <li>
      <span class="material-icons">theater_comedy</span>
      Играю в студенческом драматическом театре, изучаю три иностранных языка (английский, французский, финский), основы классической филологии и перевода в сфере профессиональных коммуникаций (на программе диплома второго высшего образования).
    </li>
  </ul>
</div>
